ul {
    padding-left: 0;
}

.btn {
    background-color: transparent;
    border: 2px solid #343a40;
    border-radius: 150px;
}

.btn:hover {
    color: #fff;
    background-color: #343a40;
    transition: ease-in 0.2s;
}